/* Reset some default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #8BA6C7; /* Background color for the entire page */
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #002147;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Main Section Styles */
section {
  padding: 40px 0;
}

section h2 {
  font-size: 2rem;
}

section h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
}

section p {
  font-size: 1rem;
  color: #5D5E67;
  margin-top: 10px;
}

/* Skill Badges */
.skill-badge {
  margin: 10px;
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

/* Projects Section Styles */
ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: #BCCBDD;
}

/* Footer Styles */
footer {
  background-color: #002147;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; /* This will push the footer to the bottom */
}

/* Projects Section Styles */
.projects h2 {
  font-size: 2rem;
  color: #333; /* Change the color to your desired color */
}

.projects ul li {
  margin-bottom: 10px;
  color: #5D5E67; /* Change the color to your desired color */
}

.projects ul li a {
  text-decoration: none;
  color: #3B3C41; /* Change the color to your desired color */
}