.inicio{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

#base{
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1;
}

#tecUsadas{
    grid-column: 1;
    grid-row: 2;
}

#data{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

#encontrar{
    grid-column: 1;
    grid-row: 3;
}