/* Header Styles */
header {
  background-color: #002147;
  color: #fff;
  text-align: center;
  padding: 13px;
  position: fixed;
  width: 100%;
  top: 0; 
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


/* Estilos para o rodapé */
footer {
  background-color: #002147;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para o conteúdo */
.content {
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  min-height: calc(100vh - 170px); /* Ajuste de altura para o rodapé */
}